body {
    height: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana;

    background: linear-gradient(to bottom, black, rgb(83, 5, 5), black);
}

h2 {
    color: white;

}

h1 {
    font-family: verdana;
    font-size: 50px;
    line-height: 1.3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.animated_text {
    text-align: center;
    font-family: verdana;
    font-size: 70px;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: repeating-linear-gradient(to left, red, purple, indigo, blue, green,
            lime, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 9s linear infinite;
    background-size: 200% 100%;
}

.green_text_animated {
    background: repeating-linear-gradient(to left, rgb(30, 90, 30), green, rgb(30, 90, 30), green, rgb(30, 90, 30));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 9s linear infinite;
    background-size: 200% 100%;
}

.water_text_animated {
    background: repeating-linear-gradient(to left, blue, rgb(38, 110, 134), blue, rgb(38, 110, 134), blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 12s linear infinite;
    background-size: 200% 100%;
}

.fire_text_animated {
    background: repeating-linear-gradient(to left, orange, red, orange, red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 9s linear infinite;
    background-size: 200% 100%;
}

@keyframes text_animation {

    0% {
        background-position: 800% 0%;
    }

}



#seletor {
    padding: 5px;
    display: flex;
    flex-direction: line;
}

#grass {

    padding: 7px;
    background-color: rgb(9, 154, 41);
}

#water {
    padding: 7px;
    background-color: rgb(0, 191, 255);
}

#fire {
    padding: 7px;
    background-color: rgb(255, 68, 0);
}

button {
    cursor: pointer;
    padding: 15px;
    border-radius: 7px 9px 7px;
}