body {
    height: 95vh;
    width: 95vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    vertical-align: middle;

    font-family: verdana;
    background-image: url("./bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

h2 {
    color: white;
}

h1 {
    font-size: 50px;
    line-height: 1.3;

    position: relative;
    top: 0vh;

    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;
}

.animated_text {
    font-family: verdana;
    font-size: 70px;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: repeating-linear-gradient(to left, red, purple, indigo, blue, green,
            lime, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 9s linear infinite;
    background-size: 200% 100%;
}

.green_text_animated {
    background: repeating-linear-gradient(to left, rgb(30, 90, 30), green, rgb(30, 90, 30), green, rgb(30, 90, 30));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 9s linear infinite;
    background-size: 200% 100%;
}

.water_text_animated {
    background: repeating-linear-gradient(to left, blue, rgb(38, 110, 134), blue, rgb(38, 110, 134), blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 12s linear infinite;
    background-size: 200% 100%;
}

.fire_text_animated {
    background: repeating-linear-gradient(to left, orange, red, orange, red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text_animation 9s linear infinite;
    background-size: 200% 100%;
}

@keyframes text_animation {

    0% {
        background-position: 800% 0%;
    }

}

#seletor {
    padding: 5px;
    display: flex;
    flex-direction: line;
}

#grass {
    padding: 7px;
    background-color: rgb(9, 154, 41);
}

#water {
    padding: 7px;
    background-color: rgb(0, 191, 255);
}

#fire {
    padding: 7px;
    background-color: rgb(255, 68, 0);
}

button {
    position: static;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    border-radius: 7px 9px 7px;
}

.egg {
    animation: wiggle 2s ease-in-out infinite;
}

.monster {
    animation: pulse 3s ease-in-out infinite;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(5deg);
    }

    75% {
        transform: rotateZ(-7deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        scale: 1.0;
    }

    50% {
        scale: 1.03;
    }


}

@keyframes train {

    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }

}

.train {
    animation: train 2s ease-in-out;
}

.mato {

    position: fixed;
    top: 10vh;
    left: 5vh;
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

#enemyPic {
    z-index: -3;
}

#shot {
    z-index: -2;
}

#damage {
    position: relative;
    color: red;
    z-index: 5;
    top: -5vh;
    right: -5vh;
}

#top-menu {
    top: 0vh;
}

#bottom-line {
    position: fixed;
    bottom: -5vh;
}

.menu {
    position: sticky;
    height: 5vh;
    width: 105vw;

    background: linear-gradient(to top, black, rgb(100, 0, 0), rgb(100, 0, 0), rgb(100, 0, 0), black);


    z-index: 1;
}

#HUD {
    align-items: center;
    vertical-align: middle;
}

#UI {
    align-items: center;
    vertical-align: middle;
}

progress {
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 20px;
    background: crimson;
}

progress {
    color: lightblue;
    border-radius: 15px;
}

progress::-moz-progress-bar {
    background: lightblue;
    border-radius: 15px;
}

progress::-webkit-progress-value {
    background: greenyellow;
    border-radius: 15px;
}

progress::-webkit-progress-bar {
    background: crimson;
    border-radius: 15px;
}

:root {
    touch-action: pan-x pan-y;
    height: 100%
}